$tablet-width: 780px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin flexbox {
  display: flex;
  flex-wrap: wrap;
}

@mixin flexbox-mid {
  @include flexbox();
  align-items: center;
}

@mixin flex-center-both {
  @include flexbox();
  justify-content: center;
  align-items: center;
}




html, body {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

ul {
  list-style: inside;
}

p > img + em {
  color: #777777;
  font-size: 85%;
  display: block;
  text-align: center;
  margin-top: 5px;
}

/**
 * index.scss
 * - Add any styles you want here!
 */

 /* VARIABLES */
 $togglerSize: 32px;
 $bg: #F8FAFF;
 $main: #FF6D02;
 $black: #212125;
 $secondary: #080957;
 $secondary-2: #7577CD;
 $terciary: #155263;
 
 // body::selection {
 //   background: #ffb7b7; /* WebKit/Blink Browsers */
 // }
 // body::-moz-selection {
 //   background: #ffb7b7; /* Gecko Browsers */
 // }
 
 body {
   background: $bg;  
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: $black;
 }

 mark {
  background-color: $secondary-2;
  color: #f6f6f6;
}
 
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 span
 {
   &::selection { background-color: $main; color: #fff; } 
 }
 
 img {
   max-width: 100%;
   vertical-align: middle;
   height: auto;
 }

 .txt-highlight {
   background: $main;
   color: #fff;
   padding: 0 5px;
   margin:0 2.5px;

   > a {
     text-decoration: none; 
     color: #fff;
    &:hover,
    &:active,
    &:visited {
      color: #fff; 
    }
    
  }
 }
 
 .header {
   padding-top: 2em;
   padding-bottom: 2em;
   background: #fff;
   box-shadow: 0 1px 4px rgba(40, 44, 55, 0.2);
 }
 
 .input-toggler {
  display: none !important;
   &:checked ~ .menu-toggler .menu-toggler__line:nth-child(1) {
     transform: translateY(calc(32px/5 * 2)) rotate(45deg);
     
   }
   &:checked ~ .menu-toggler .menu-toggler__line:nth-child(2) {
   opacity: 0;
 }
   &:checked ~ .menu-toggler .menu-toggler__line:nth-child(3) {
   transform: translateY(calc(32px / 5 * -2)) rotate(-45deg);
 }
   &:checked ~ .menu-toggler .menu-toggler__line{
     transition-delay: .25s, 0s;
   }

   &:checked ~ .navigation {
     display: flex;
   }

   &:checked ~ .navigation >.nav-item {
    opacity: 1;
  }
   
 }
 
 .menu-toggler {
   width: $togglerSize;
   height: $togglerSize;
   position: absolute;
   top: 5px;
   right: 20px;
   z-index: 4;
   cursor: pointer;
   @include desktop {
     display: none;
   }
 }
 
 .menu-toggler__line {
    height: calc(32px / 5);
    background: $secondary-2;
    border-radius: 8px;
    position: absolute;
    left: 0;
    right: 0;
    &:nth-child(2) {
      top: calc(32px / 5 * 2);
    }
    &:nth-child(3) {
      top: calc(32px / 5 * 4);
  }
   
   transition-property: transform, opacity;
   transition-duration: .5s, .25s;
   transition-delay: .0s, .5s;
 }
 
 .navigation {
   display: none;
   justify-content: space-around;
  //  height: 42px;
   padding-bottom: 4px;
   align-items: center;
   z-index: 8;
   >.nav-item {
     min-width: 40px;
     line-height: 1;
     text-decoration: none;
     font-size: 14px;
     text-transform: uppercase;
     letter-spacing: 1.5px;
     color: $black;
     transition: opacity 380ms ease 1s;
     &:after {
       content: '';
       display: block;
       visibility: hidden;
       margin: 5px auto -15px;
       width: 8px;
       height: 8px;
       border-radius: 100%;
       background: $secondary-2;
     }
     &.active:after {
       visibility: visible;
     }
   }

   @media (max-width: 768px) {
     flex-direction: column;
     justify-content: center;
     position: fixed;
     top: 0;
     left: 0; right: 0;
     bottom: 0;
     padding: 3em;
     background: $bg;
     >.nav-item {
       font-size: 16px;
       line-height: 3.4;
       position: relative;
       opacity: 0;
       &.active:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        margin: 0;
       }
     }
   }

   @include desktop(){
     height: 42px;
     display: flex;
   }
 }
 
 .logo {
   max-width: 42px;
 }
 
 .wrapper {
   padding: 2.6em 0em;
   @media (min-width: 1024px) {
     padding: 2.6em 7.6em;
   }
 }
 .first-sec {
   padding-top: 46px;
   @media (min-width: 1024px) {
     padding-top: 46px;
     &.no-wrapper {
       padding-top: 82px;
     }
   }
 }
 .headline {
   @include flex-center-both();
   padding-bottom: 3em;
   @media (min-width: 1024px) {
    padding-bottom: 4em;
   }
 }
 .headline-wrapper {
   text-align: center;
   position: relative;
   &:before, &:after {
     content: '';
     display: block;
     position: absolute;
     height: 6px;
     background-color: $secondary;
     bottom: 5px;
     border-radius: 6px;
   }
   &:before {
     width: 7%;
     left: 39%;
   }
   &:after {
     width: 15%;
     left: 47%;
   }
  
 }
 
 .headline-title {
   font-weight: 700;
   color: $secondary;
   margin-bottom: 0;
   @media (min-width: 1024px) {
    font-size: 64px;
   }
   
 }
 
 
 .about {
   
    .short-description {

      @media (min-width: 1024px) {
        padding-top: 10px;
      }
    }
   &.about--home {
    background: $secondary;
    padding-top: 3em;
   }
   .picture {
     width: 84px;
     height: 84PX;
     //  center photo with flex-box
     display: flex; justify-content: center; align-items: center;
     //  background: #fff;
     //  border: 3px solid #424242;
     border-radius: 100%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
     
     @media (min-width: 1024px) {
       margin-right: 0;
       margin-bottom: 0;
       width: 103px;
       height: 103PX;
     }
    //  padding: 16px;
    // background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
     
   }

   .picture > img {
     border-radius: 100%;
   }
   
   .text {
     text-align: left;
     font-size: 19px;
     line-height: 1.4444;
     color: #fff; 
   }
    @include desktop(){
     padding-top: 4em;
      &.first-sec.no-wrapper {
        padding-bottom: 82px;
      }
     .picture {
       margin-top: 30px;
     }
    }
  
 }
 
 .network-list{
   display: flex;
   justify-content: flex-start;
   
 }
 .network {
   margin-right: 20px;

   > i { font-size: 24px; color: #fff; }
 }
 
 
 /* - Projects 
 ------------------------- */
 .project-container {
   position: relative;
   min-height: 360px;
   margin-bottom: 40px;
   background: $secondary-2;
  //  border: 1px solid rgba(0,0,0,0.2);
   border-radius: 5px;
   box-shadow: 0 0 2px 0 rgba(33, 33, 37, 0.2);
//    overflow: hidden;
   /* Show details on hover */
    // &:hover > .project-details {
    //     bottom: 0;
    //     opacity: 1;
    //     transform: translateY(0);
    // }
    // &:hover >.project-details > p {
    //     opacity: 1;
    // }
 }

 .row-projects {
    @media (min-width: 768px) {
      margin-bottom: 6%;
    }

 }
  
 .project-mockup {
    // box-shadow: 0px 1px 3px 0 rgba(71, 71, 71, 0.1);
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: all 280ms ease;
    &:hover .project-image {
      filter: grayscale(0);
    }
  }
  
  .browser-mockup:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }

  .browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
  }
  
  .browser-mockup > * {
    display: block;
  }

  .project-image {
    border-radius: 5px 5px 0 0;
    // mix-blend-mode: multiply;
    filter: grayscale(100%);
    transition: filter 280ms ease;
  }
  
  .project-details {
    //   display: none;
    //   opacity: 0;
      position: relative;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    // margin-top: 60px;
      padding: 1.8em;
    //   background: rgba(106, 175, 230, 0.55);
    //   color: #fff;
    //   transform: translateY(110px);
    //   transition: transform 280ms ease-in-out;
    color: #fff;

      > .project-description, .project-title { 
          margin-bottom: 0; 
          text-align: center;
          max-width: 340px;
          margin-right: auto;
          margin-left: auto;
        //   opacity: 0;
        //   transition: opacity 280ms ease-in-out 200ms;
        }

  }

.project-btns {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.6em;
    .project-link { 
      color: #FFF;
      text-decoration: none; 
    }
    button { color: #FFF; }
    button:hover {
      background: #FFF;
      color: $secondary;
    }

}


/* ------------------------
    Articles 
--------------------------- */

.row-articles {
  margin-bottom: 4%;
  display: flex;
  flex-wrap: wrap;
}

a.article {
  text-decoration: none;
  &:hover { color: inherit; }
}
.article {
  position: relative;
  margin-bottom: 30px;
  padding: 0 1.5em;
  background: #fff;
  color: $black;
  box-shadow: 1px 1px 5px 0 rgba(40, 44, 55, 0.2);
  transform: translateY(0);
  transition: all 280ms ease;
  &:hover {
    transform: translateY(12px);
  }

  @include tablet(){
    width: 48%;
  }
  
  @include desktop(){
    width: calc(32% - 72px);    
    margin-bottom: 60px;
    &:not(:nth-child(3n)) {
      margin-right: 60px;
    }
  }
}

.article-img {
  margin: 0 -1.5em;
}

.article-text { 
  text-align: center; 
  margin-bottom: 40px;
}

.article-title {
  text-decoration: none;
  margin-top: .85em;
  margin-bottom: .25em;
  font-size: 1.44em;
  line-height: 1.25;
  font-weight: 700;
  // text-shadow: 1px 1px rgba(0,0,0,0.2);
  color: $black;
} 

.article-categories {
  @include flex-center-both();
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  >.category {
    display: block;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0.4444px 0.4444px $black;
    text-decoration: none;
    font-weight: 600;
  
    

    &.lifehack { background: $secondary; }
    &.produtividade { background: $main; }
    &.marketing { background: $secondary-2; }
    &.dev { background: $black; }
    &.freelance { background: #f44; }
    &.nomade-digital { background: $secondary; }
  }
}



.form input, .form textarea {
  width: 100%;
}

.form textarea {
  height: 160px;
}
  
@mixin text-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.about-me {  
  @include text-wrapper;
  > p {
    font-size: 19px;
    line-height: 32px;
  }
}

.about-header {
  @include text-wrapper();
  @include flexbox();
  align-items: flex-end;
  .picture {
    margin: 1.4em 4% 1.4em 0;
    width: 42px;
    height: 42px;
  }
}

.about-title {
  font-size: 42px;
  line-height: 1.6;
}
  

  // background: #fff;
  // padding: 1.2em;
  // border-radius: 20px;


/* FOOTER */

.footer {
  background: $black;
  color: #fff;
}
.quote {
  padding-top: 24px; 
  padding-bottom: 24px;
  @include flexbox-mid();

  > blockquote, > cite {
    font-weight: 300;
  }

  > blockquote {
    width: 100%;
    text-align: right;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5px;
  }

  > cite {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: 1024px) {
    > cite {
      margin-right: 10px; 
    }
  }
}

.form-footer {
  padding-top: 34px;
  padding-bottom: 24px;
  margin-bottom: 0;
}

.form-footer > label {
  margin: 0 0 10px;
  > span {
    font-weight: 300;
    display: block;
  }
}

.form-footer > input[type="email"] {
  width: 70%;
  color: $black;
}

.form-footer > input[type="submit"] {
  color: #fff;
}

/* SINGLE POSTS */
$vt-margin: 32px;

.single-post {
  background: #fff;
  max-width: 1440px;
  padding-bottom: 2em;
}

.single-container {
  max-width: 820px;
  margin: 0 auto;
  padding-right: 2em;
  padding-left: 2em;
  background-color: #fff;
  border-radius: 10px;
  @media (min-width: 1024px) {
    padding-right: 4em;
    padding-left: 4em;
  }
}

.single-header {
  position: relative;
  padding: 1em 0;
  margin: 1em 0 2.5em;
  // margin-bottom: 3em;
  text-align: center;
  color: #fff;
  z-index: 3;

  >.single-container {
    background: none;
  }
}

.single-image {
  @include flex-center-both();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $vt-margin;
  width: 1440px;
  max-width: 100%;
  max-height: 460px;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left:0; top: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.44);
  }

  @include desktop(){
    height: 360px;
  }

}

.single-title,
.single-subtitle {
  text-shadow: 1px 1px 1px black;
}

.single-title {
  font-weight: 600;
}

.single-subtitle {
  font-size: 18px;
  font-weight: 700;
}

.single-content {
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  color: #424242;
  > p {
    margin-bottom: $vt-margin;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5
  {
    font-weight: 600;
  }

  @media (min-width: 1024px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }

}
