$tablet-width: 780px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin flexbox {
  display: flex;
  flex-wrap: wrap;
}

@mixin flexbox-mid {
  @include flexbox();
  align-items: center;
}

@mixin flex-center-both {
  @include flexbox();
  justify-content: center;
  align-items: center;
}




html, body {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

/**
 * index.scss
 * - Add any styles you want here!
 */
 $togglerSize: 32px;
 $bg: #F8FAFF;
 $main: #FF6D02;
 $black: #212125;
 $secondary: #080957;
 $secondary-2: #7577CD;
 $terciary: #155263;
 
 // body::selection {
 //   background: #ffb7b7; /* WebKit/Blink Browsers */
 // }
 // body::-moz-selection {
 //   background: #ffb7b7; /* Gecko Browsers */
 // }
 
 body {
   background: $bg;  
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: $black;
 }
 
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 span
 {
   &::selection { background-color: $main; color: #fff; } 
 }
 
 img {
   max-width: 100%;
   vertical-align: middle;
   height: auto;
 }
 
 .header {
   padding-top: 2em;
   padding-bottom: 2em;
   background: #fff;
   box-shadow: 0 1px 4px rgba(40, 44, 55, 0.2);
 }
 
 .input-toggler {
  display: none !important;
   &:checked ~ .menu-toggler .menu-toggler__line:nth-child(1) {
     transform: translateY(calc(32px/5 * 2)) rotate(45deg);
     
   }
   &:checked ~ .menu-toggler .menu-toggler__line:nth-child(2) {
   opacity: 0;
 }
   &:checked ~ .menu-toggler .menu-toggler__line:nth-child(3) {
   transform: translateY(calc(32px / 5 * -2)) rotate(-45deg);
 }
   &:checked ~ .menu-toggler .menu-toggler__line{
     transition-delay: .25s, 0s;
   }

   &:checked ~ .navigation {
     display: flex;
   }

   &:checked ~ .navigation >.nav-item {
    opacity: 1;
  }
   
 }
 
 .menu-toggler {
   width: $togglerSize;
   height: $togglerSize;
   position: absolute;
   top: 35px;
   right: 20px;
   z-index: 4;
   cursor: pointer;
   @include desktop {
     display: none;
   }
 }
 
 .menu-toggler__line {
    height: calc(32px / 5);
    background: $secondary-2;
    border-radius: 8px;
    position: absolute;
    left: 0;
    right: 0;
    &:nth-child(2) {
      top: calc(32px / 5 * 2);
    }
    &:nth-child(3) {
      top: calc(32px / 5 * 4);
  }
   
   transition-property: transform, opacity;
   transition-duration: .5s, .25s;
   transition-delay: .0s, .5s;
 }
 
 .navigation {
   display: none;
   justify-content: space-around;
  //  height: 42px;
   padding-bottom: 4px;
   align-items: center;
   >.nav-item {
     min-width: 40px;
     line-height: 1;
     text-decoration: none;
     font-size: 14px;
     text-transform: uppercase;
     letter-spacing: 1.5px;
     color: $black;
     transition: opacity 380ms ease 1s;
     &:after {
       content: '';
       display: block;
       visibility: hidden;
       margin: 5px auto -15px;
       width: 8px;
       height: 8px;
       border-radius: 100%;
       background: $secondary-2;
     }
     &.active:after {
       visibility: visible;
     }
   }

   @media (max-width: 768px) {
     flex-direction: column;
     justify-content: center;
     position: fixed;
     top: 0;
     left: 0; right: 0;
     bottom: 0;
     padding: 3em;
     background: $bg;
     z-index: 3;
     >.nav-item {
       font-size: 16px;
       line-height: 3.4;
       position: relative;
       opacity: 0;
       &.active:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        margin: 0;
       }
     }
   }

   @include desktop(){
     height: 42px;
     display: flex;
   }
 }
 
 .logo {
   max-width: 42px;
 }
 
 .wrapper {
   padding: 2.6em 0em;
   @media (min-width: 1024px) {
     padding: 2.6em 7.6em;
   }
 }
 .first-sec {
   @media (min-width: 1024px) {
     padding-top: 46px;
     &.no-wrapper {
       padding-top: 82px;
     }
   }
 }
 .headline {
   @include flex-center-both();
   @media (min-width: 1024px) {
    padding-bottom: 4em;
   }
 }
 .headline-wrapper {
   text-align: center;
   position: relative;
   &:before, &:after {
     content: '';
     display: block;
     position: absolute;
     height: 6px;
     background-color: $secondary;
     bottom: 0;
     border-radius: 6px;
   }
   &:before {
     width: 7%;
     left: 39%;
   }
   &:after {
     width: 15%;
     left: 47%;
   }
  
 }
 
 .headline-title {
   font-weight: 700;
   color: $secondary;
   font-size: 64px;
 }
 
 
 .about {
   
    // .short-description {

    //   // @media (min-width: 1024px) {
    //   //   padding-right: 75px;
    //   //   padding-top: 1.4em;
    //   // }
    // }
   &.about--home {
    background: $secondary;
   }
   .picture {
     width: 103px;
     height: 103PX;
     //  center photo with flex-box
     display: flex; justify-content: center; align-items: center;
    //  background: #fff;
    //  border: 3px solid #424242;
     border-radius: 100%;
     margin-left: auto;
    //  padding: 16px;
    // background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
     
   }

   .picture > img {
     border-radius: 100%;
   }
   
   .text {
     text-align: left;
     font-size: 18px;
     line-height: 28px;
     color: #fff; 
   }
    @include desktop(){
     padding-top: 4em;
    }
  
 }
 
 .network-list{
   display: flex;
   justify-content: center;
   margin: 2.4em auto;
 }
 .network {
   margin: 0 26px;
   width: 26px;
 }
 
 
 /* - Projects 
 ------------------------- */
 .project-container {
   position: relative;
   min-height: 360px;
   background: transparent;
//    overflow: hidden;
   /* Show details on hover */
    // &:hover > .project-details {
    //     bottom: 0;
    //     opacity: 1;
    //     transform: translateY(0);
    // }
    // &:hover >.project-details > p {
    //     opacity: 1;
    // }
 }

 .row-projects {
    @media (min-width: 768px) {
      margin-bottom: 6%;
    }

 }
  
 .browser-mockup {
    border-top: 2em solid $secondary;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
    position: relative;
    border-radius: 3px 3px 0 0;
  }
  
  .browser-mockup:before {
    display: block;
    position: absolute;
    content: '';
    top: -1.25em;
    left: 1em;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f44;
    box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
  }

  .browser-mockup.with-url:after {
    display: block;
    position: absolute;
    content: '';
    top: -1.6em;
    left: 5.5em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 2px;
    background-color: white;
  }
  
  .browser-mockup > * {
    display: block;
  }

  .browser-mockup > img {
      border-radius: 3px 3px 0 0;
  }
  
  .project-details {
    //   display: none;
    //   opacity: 0;
      position: relative;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    // margin-top: 60px;
      padding: 1.25em 1.8em;
    //   background: rgba(106, 175, 230, 0.55);
    //   color: #fff;
    //   transform: translateY(110px);
    //   transition: transform 280ms ease-in-out;

      > p { 
          margin-bottom: 0; 
          text-align: center;
        //   opacity: 0;
        //   transition: opacity 280ms ease-in-out 200ms;
        }

  }

.project-btns {
    display: flex;
    justify-content: space-around;
}


/* ------------------------
    Articles 
--------------------------- */

.row-articles {
  margin-bottom: 4%;
  display: flex;
  flex-wrap: wrap;
}

a.article {
  text-decoration: none;
  &:hover { color: inherit; }
}
.article {
  position: relative;
  margin-bottom: 30px;
  padding: 0 1.5em;
  background: #fff;
  color: $black;
  box-shadow: 1px 1px 5px 0 rgba(40, 44, 55, 0.2);
  transform: translateY(0);
  transition: all 280ms ease;
  &:hover {
    transform: translateY(12px);
  }

  @include tablet(){
    width: 48%;
  }
  
  @include desktop(){
    width: calc(32% - 72px);    
    &:not(:nth-child(3n)) {
      margin-right: 60px;
    }
  }
}

.article-img {
  margin: 0 -1.5em;
}

.article-text { 
  text-align: center; 
  margin-bottom: 40px;
}

.article-title {
  text-decoration: none;
  margin-top: .85em;
  margin-bottom: .75em;
  font-size: 1.75em;
  line-height: 1.25;
  font-weight: 700;
  // text-shadow: 1px 1px rgba(0,0,0,0.2);
  color: $black;
} 

.article-categories {
  @include flex-center-both();
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  >.category {
    display: block;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
  
    

    &.type-1 { background: $secondary; }
    &.type-2 { background: $secondary-2; }
  }
}



.form input, .form textarea {
  width: 100%;
}

.form textarea {
  height: 160px;
}
  
@mixin text-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.about-me {  
  @include text-wrapper;
  > p {
    font-size: 19px;
    line-height: 32px;
  }
}

.about-header {
  @include text-wrapper();
  @include flexbox();
  align-items: flex-end;
  .picture {
    margin: 1.4em 4% 1.4em 0;
    width: 42px;
    height: 42px;
  }
}

.about-title {
  font-size: 42px;
  line-height: 1.6;
}

.quote { padding-top: 24px; }
.quote blockquote {
  @media (min-width: 1024px) {
    font-size: 26px;
  }
  

  // background: #fff;
  // padding: 1.2em;
  // border-radius: 20px;
}