---
layout: default
title: Articles
weight: 3
---
<div class="container">
<section class="articles first-sec no-wrapper">
  <div class="row row-articles">
    {% for post in site.posts %}
       <a href="{{ post.url }}" class="article">
        <div class="article-img">
          <img src="{{ post.image }}" alt="">
        </div>
        <div class="article-text">
          <h1 class="article-title">
            {{ post.title }}
          </h1>
          <p class="article-subtitle">{{ post.subtitle }}</p>
        </div>
        <div class="article-categories">
          {% for category in post.categories %}
            <span class="category {{category}}">{{ category }}</span>
          {% endfor %}
        </div>
      </a>
    {% endfor %}
      <a href="#" class="article">
        <div class="article-img">
          <img src="https://picsum.photos/480/230" alt="">
        </div>
        <div class="article-text">
          <h1 class="article-title">
            Como Sua Presença Online Pode te Fazer Ganhar 2x Mais
          </h1>
          <p>The key to success is to keep your head above the water, never give up</p>
        </div>
        <div class="article-categories">
          <span class="category type-1">Marketing</span>
        </div>
      </a>
      <a href="#" class="article">
        <div class="article-img">
          <img src="https://picsum.photos/480/230" alt="">
        </div>
        <div class="article-text">
          <h1 class="article-title">
            Desafio de 30 Dias Acordando às 05hrs da Manhã 
          </h1>
          <p>The key to success is to keep your head above the water, never give up</p>
          <div class="article-categories">
            <span class="category type-2">Lifehack</span>
          </div>
        </div>
      </a>
      <a href="#" class="article">
        <div class="article-img">
          <img src="https://picsum.photos/480/230" alt="">
        </div>
        <div class="article-text">
          <h1 class="article-title">
            3 Táticas Para Independência Financeira Aos 20 e Tantos
          </h1>
          <p>The key to success is to keep your head above the water, never give up</p>
        </div>
        <div class="article-categories">
          <span class="category type-1">Dev</span>
          <span class="category type-2">Freelance</span>
        </div>
      </a>
  </div>
  
  
</section>
</div>