---
layout: default
title: projetos
weight: 2
---
<div class="container">
<section class="projects row first-sec no-wrapper">
    {% for project in site.projects %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex != 0 or forloop.first %}
        <div class="row row-projects">
      {% endif %}
      <div class="one-half column">
          <div class="project-container">
              <a href="#">
                <div class="project-mockup">
                    <img src="{{project.image}}" alt="{{project.title}}" class="project-image" />
                </div>
              </a>
              <div class="project-details">
                  <p class="project-title">{{project.title}}</p>
                  <p class="project-description">{{project.short_description}}</p>
              </div>
              <div class="project-btns">
                <button class="btn">More Info</button>
                <a href="{{project.link}}" class="project-link" target="_blank" rel="nofollow"><button class="btn">Ver Projeto</button></a>
              </div>
              
          </div>
        </div>
      {% if loopindex == 0 or forloop.last %}
      </div> <!-- .row-projects -->
      {% endif %}
    {% endfor %}
</section>
</div>