<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="seven columns">
                <form action="#" class="form-footer">
                    <label for="email">Hacks de vida, ensinamentos de monjes e bitcoins de graça no seu email.
                        <span>**Um desses 3 pode não ser verdade.</span>
                    </label>
                    
                    <input type="email" name="email">
                    <input type="submit" value="Vou curtir">
                </form>
            </div>
            <div class="five columns">
                <div class="quote">
                        <blockquote>
                                "The man who has anticipated the coming of troubles takes away their power when they arrive." 
                        </blockquote>
                        <cite>- Seneca</cite>
                </div>
            </div>
            
        </div>
    </div>
</footer>