---
layout: default
---

<div class="container">
<section class="headline row first-sec">
  <div class="headline-wrapper wrapper">
    <h1 class="headline-title">WordPress & Front-End Developer</h1>
  </div>
</section>
</div>
<!-- <section class="quote">
      <blockquote>
          The man who has anticipated the coming of troubles takes away their power when they arrive.
          <cite>Marcus Aurellius.</cite>
      </blockquote>
      
</section> -->
<section class="about about--home wrapper">
  <div class="container">
    <div class="row">
  <div class="two columns">
    <div class="picture">
      <img src="images/avatar/thumb4.jpeg" alt="Beto da Silva"/>
    </div>
  </div>
  <div class="ten columns">
    <div class="short-description">
        <p class="text">Olá! Eu me chamo Beto. Sou desenvolvedor web freelancer, autotidata e aficionado por ui design e programação.</p>
        <p class="text">Escrevo sobre meus aprendizados e experiências na aba <span class="txt-highlight"><a href="/artigos">artigos.</a></span></p>
        <p class="text">Você pode querer ver meus <span class="txt-highlight"><a href="/projetos">projetos</a></span> mais recentes ou saber mais <span class="txt-highlight"><a href="/sobre">sobre</a></span> mim.</p>
        <p class="text">Quando precisar, é só entrar em contato.</p>
    </div>
    
    <div class="network-list">
        <a href="https://twitter.com/beto_js_" target="_blank" class="network">
          <i class="icon-twitter"></i>
        </a>
        <a href="https://github.com/betodasilva" target="_blank" class="network">
          <i class="icon-github-circled"></i>
        </a>
        <a href="https://instagram.com/beto_js" target="_blank" class="network">
          <i class="icon-instagram"></i>
        </a>
      </div>
    
  </div>
  
  </div>
  </div>
   
</section>
