---
layout: default
---
{% assign post = page %}
<article class="single-post">
    <div class="single-image" style="background-image: url('{{ post.image }}');"></div>
    <div class="single-container">
        <header class="single-header"> 
            <h2 class="single-title">{{ post.title }}</h2>
            <p class="single-subtitle">{{ post.subtitle }}</p>

            {% if post.categories %}
            <div class="article-categories">
                {% for category in post.categories %}
                    <a href="" class="category {{category}}">{{ category }}</a>
                {% endfor %}
            </div>
            {% endif %}
            
        </header>

        <div class="single-content">
                {{ content }}
        </div>
    </div>  
    
</article>